name: Build and Release SSH_Helper

on:
  push:
    #branches: [ "master" ]
    tags:
      - 'v*'
  #pull_request:
    #branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore
      env:
        REBEX_LICENSE_KEY: ${{ secrets.REBEX_LICENSE_KEY }}

    - name: Publish
      run: dotnet publish -c Release -o ./publish --self-contained true -r win-x64 -p:PublishSingleFile=true
      env:
        REBEX_LICENSE_KEY: ${{ secrets.REBEX_LICENSE_KEY }}

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: SSH_Helper
        path: ./publish/

  release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: SSH_Helper
        path: ./release
        
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: ./release/SSH_Helper.exe
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
